/*
* BUTTONS GENERAL
*/

.button,
.LinkTest {
  font: bold 1em 'Roboto';

  /* Typography*/
  color: white;
  text-transform: uppercase;

  /* Box model */
  box-sizing: border-box;
  margin: .5rem 0;
  padding: .9em 1rem;

  /* Visual */
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: .3s;
}

.button:hover:enabled {
  box-shadow: 0 0 .5em rgba(33, 33, 33, .3);
}

.button:active:enabled {
  transform: translateY(2px);
  box-shadow: unset;
}

.button:disabled {
  background: var(--gray4);
  /* Visual */
  opacity: .5;
  cursor: not-allowed;
  color: #333;
}

/*
* BUTTONS PRIMARY
*/

.primary,
.LinkTest {
  background: var(--primary);
}

.primary:enabled:hover {
  background: var(--pDark);
}

/*
* BUTTONS SECONDARY
*/

.secondary:enabled {
  background: var(--secondary);
}

.secondary:enabled:hover {
  background: var(--sDark);
}

/*
* BUTTONS SECONDARY OUTLINED
*/

.secondary-outlined:enabled {
  background: var(--background);
  box-shadow: 0 0 0 2pt var(--secondary) inset;
  color: var(--secondary);
}

.secondary-outlined:enabled:hover {
  box-shadow: 0 0 0 2pt var(--sDark) inset;
  color: var(--sDark);
}

.secondary-outlined.active:enabled {
  background: var(--secondary);
  text-decoration: underline;
  color: var(--background);
}

.secondary-outlined.active:enabled:hover {
  background: var(--secondary);
  text-decoration: underline;
  color: var(--background);
  box-shadow: unset;
}

/*
* BUTTONS DANGER
*/

.danger {
  background: var(--red);
}

.danger:enabled:hover {
  background: var(--rDark);
}

/*
* BUTTONS DANGER OUTLINED
*/

.danger-outlined {
  background: var(--background);
  outline: 2px solid var(--red);
  color: var(--red);
}

.danger-outlined:enabled:hover {
  background: var(--background);
  outline: 2px solid var(--rDark);
  color: var(--rDark);
}

/*
* BUTTONS TEXT-ONLY
*/

.text-only {
  background: transparent;
  color: var(--sDark);
  padding: .5rem;
  margin: 0 0 0 auto;
  display: block;
  min-height: 44px;
  transition: .05s;
  font-weight: normal;
}

.text-only:enabled:hover {
  text-decoration: underline;
  box-shadow: unset;
}

.text-only:active {
  transform: translateY(1px);
  filter: saturate(150%);
}

/*
* BUTTONS TEXT-ONLY-TAB
*/

.text-only-tab {
  background: transparent;
  color: var(--gray1);
  padding: 0;
  min-height: 44px;
  transition: .05s;
  font-weight: normal;
  font-size: 2rem;
  opacity: 75%;
}

.text-only-tab.active {
  opacity: 100%;
}

.text-only-tab:enabled:hover {
  text-decoration: underline;
  box-shadow: unset;
}

.text-only-tab:active {
  transform: translateY(1px);
}

/*
* BUTTONS FERTILIZATION
*/

.tertiary {
  background: var(--tertiary);
}

.tertiary:enabled:hover {
  background: var(--tDark);
}

/*
* FAB
*/

.fab {
  background: var(--secondary);
  position: fixed;
  right: 2.5vw;
  bottom: 60px;
  z-index: 1;
}

.fab:enabled:hover {
  background: var(--sDark);
  box-shadow: unset;
}

.fab:active {
  transform: translateY(1px);
  filter: saturate(150%);
}

/*
* BUTTONS SIZING
*/

.full-size {
  width: 100%;
}

.half-size {
  width: 49%;
  /* better for flex */
}

.no-size {
  width: unset;
}