/* This seems to break the popup, no idea why... */
.popup-userlist {
    /* positioning */
    display: grid;
    left: 0;
    place-items: center;
    position: fixed;
    top: 0;
    z-index: 1;

    /* size */
    height: 100%;
    width: 100%;

    /* miscellaneous */
    background-color: rgba(0, 0, 0, .4);
    overflow: auto;
}

.popup-userlist > .buttons-side-by-side {
    margin: 0 auto;
}