/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.page-indicator-dot {
    background: var(--gray4);
    border-radius: 50%;
    width: .75rem;
    height: .75rem;
}

.page-indicator-dot.active {
    background: var(--sDark);
    cursor: unset;
}

.update-plant-form.page-indicators{
    height: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: .5rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.update-plant-form .buttons-side-by-side{
    max-width: unset;
}