.footer-flex-container {
    background-color: var(--gray5);
    padding: 0 1%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    
}

.logo {
    max-width: 8rem;
}

@media only screen and (max-width: 40em) {
    .footer-flex-container {
        padding: 2%;
        flex-direction: column;
    }
    
    .footer-flex-container p {
        text-align: center;
    }
  }