.forgot-password-email-form input{
    margin-bottom: 12px;
}

.forgot-password-email-form p{
    margin-bottom: 2em;
}

.form-explain{
    font-size: small;
    margin-bottom: 2em;
    margin-top: 0;
}