/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.loggedIn {
    text-align: center;
}

.loggedIn p {
    font-size: 2em;
    margin-top: .5em;
}

.loggedIn img {
    width: 2em;
}

.log-in-form .buttons-side-by-side {
    margin-right: 0;
    margin-left: auto;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
}