.loggedIn {
    text-align: center;
}

.loggedIn p {
    font-size: 2em;
    margin-top: .5em;
}

.loggedIn img {
    width: 2em;
}

.log-in-form .buttons-side-by-side {
    margin-right: 0;
    margin-left: auto;
    justify-content: unset;
    flex-direction: row-reverse;
}