:root {
    --primary: #2E7D32;
    --pLight: #60AD5E;
    --pDark: #005005;
    --secondary: #0277BD;
    --sLight: #58A5F0;
    --sDark: #004C8C;
    --tertiary: #795548;
    --tLight: #A98274;
    --tDark: #4B2C20;
    --red: #D32F2F;
    --rDark: #9A0007;
    --orange: #FF9800;
    --oDark: #C66900;
    --gray6: #F2F2F2;
    --gray5: #E0E0E0;
    --gray4: #BDBDBD;
    --gray3: #828282;
    --gray2: #4F4F4F;
    --gray1: #333333;
    --background: #F9F9FA;
}