@import './colors.css';

html {
  scroll-behavior: smooth;
}

*>body {
  background-color: var(--background);
  margin: 0;
  padding: 0;
  overflow: auto;
  box-sizing: border-box;
  font-family: 'Roboto', 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2 {
  font-family: 'Roboto Slab';
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

hr {
  opacity: 33%;
  color: var(--gray6);
  border-radius: 1px;
  margin: 0;
  padding: 0;
}

main {
  margin: 1em 5vw;
  min-height: calc(100vh - 5.5rem - 55.33px);
}

/* "cards" used on the application */
.container {
  background-color: #fff;
  border-radius: .25rem;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  margin: 2% auto 0 auto;
  max-width: 550px;
  min-width: 240px;
  overflow: hidden;
  padding: 1em;
}

/* icons placed on cards */
.container .icon {
  display: block;
  margin: auto;
  width: 2em;
}

.buttons-side-by-side {
  display: flex;
  justify-content: space-between;
  max-width: 430px;
  width: 100%;
  gap: 2%
}

fieldset {
  border: none;
  padding: 0;
}

legend {
  font-size: 2em;
  margin: .5em 0 1.3rem;
  /* text-align: center; */
}

a {
  color: var(--sDark);
  text-decoration: none;
  transition: .3s;
  margin: 0;
  padding: 0;
}

a:hover {
  text-decoration: underline;
}

input[type=text],
input[type=password],
input[type=email],
input[type=number],
textarea,
select {
  border: 1px solid var(--gray4);
  box-sizing: border-box;
  display: inline-block;
  font-size: 16px;
  margin: 8px 0 24px;
  padding: 12px 20px;
  width: 100%;
  background-color: var(--gray5);
  resize: none;
  font-family: 'Roboto',  sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

label,
strong {
  text-transform: capitalize;
}

label {
font-size: 1.3rem;
}

.user-list-item-buttons {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.low-emphasis-text {
  color: var(--gray2)
}

.bold {
  font-weight: bold;
}

/* part of react toastify */
.Toastify__toast--success {
  background: var(--primary) !important;
}

.Toastify__toast--error {
  background: var(--red) !important;
}