/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.plant-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.plant-list li {
    margin: 1rem 1%;
}

/* https://stackoverflow.com/a/42087251/14447555 */
#sorting {
    width: 100%;
    background: #fff;
    border-radius: .25rem;
    max-width: 19rem;
    padding: .5rem 3rem .5rem .5rem;
    border: 1px solid var(--gray5);
    color: var(--sDark);
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    
    background-image: url("data:image/svg+xml;utf8,<svg fill='lightgray' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
}

#sorting option {
    color:black
}